package {{.packageName}}

import (
	"context"

  "github.com/antlabs/deepcopy"
  pb{{.packageName}} "{{.gozeroBaseURL}}/{{.packageName}}"
   "{{.httpClientBaseURL}}/{{.packageName}}"
	"github.com/zeromicro/go-zero/core/logx"
)

type {{.structName}}Logic struct {
	ctx    context.Context
	svcCtx *svc.ServiceContext
	logx.Logger
}

func New{{.structName}}Logic(ctx context.Context,svcCtx *svc.ServiceContext) *{{.structName}} {
	return &{{.structName}}{
		ctx:    ctx,
		svcCtx: svcCtx,
		Logger: logx.WithContext(ctx),
	}
}

{{- range $value := .Func}}
func (l *{{.structName}}Logic) {{.structName}} (in *pb{{.packageName}}) ({{if .hasReply}}{{.response}},{{end}} error) {
	// todo: add your logic here and delete this line
  var req {{.packageName}}.{{structName}}
  {{.packageName}}
	return {{if .hasReply}}&{{.responseType}}{},{{end}} nil
}
{{end}}

