syntax = "proto3";

package {{.PackageName}};
option go_package="{{.GoPackageName}}";

message {{.URLName}} {
  {{- range $key, $value := .URLField}}
    string {{$value}} = {{$key|add1}};
  {{- end}}
}

{{- .PbType}}
service {{.ServiceName}} {
  {{- range $value := .Func}}
  rpc {{.Name}} ({{.ReqName}}) returns ({{.RespName}});
  {{- end}}
}

